body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.lucide-sticky-note {
  display: none;
}

.filename {
  font-size: 14px;
}

.filename:focus {
  color: #FF9E64;
  outline: none;
  text-decoration: underline
}

.notelink:hover .filename {
  color: #FF9E64
}

.header-tags{
  margin-top: 15px;
  margin-bottom: 50px;
}

ol, ul {
  font-size: 14px;
  margin: 8px 0px;
}

ol > li, ul > li, 
ol > li::marker, ul > li::marker {
  font-size: 14px;
}